body {
    background-image: url("photographer.jpg");
    background-repeat: no-repeat;
    background-size: 100% 250%;

}


.card  {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

input[type=email]:not(:placeholder-shown):invalid{
    color: red;
}